!!! XML
%units{ :xmlns => "armycalc",
        "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance",
        "xsi:schemaLocation" => "armycalc http://armycalc.com/xmls/twr2units.xsd",
        :version => "2.0" }
  - units.each do |unit|
    %unit{ :minCount => unit['min'], :maxCount => unit['max'] }
      %uid= "#{cfg['ruleset']}-#{cfg['name']}-#{unit['name']}".gsub(/ /, '-')
      %name= unit['name']
      %description= unit['description']
      %categories
        %category= unit['category']
      %extraFields
        %display= unit['name']
        - cfg['attrs'].split(' ').each do |attr|
          - next unless unit[attr]
          %field
            %name= attr
            %value= unit[attr]
        - cfg['hiddenattrs'].split(' ').each do |attr|
          - next unless unit[attr]
          %field
            %name= attr
            %value= unit[attr]
      %baseCost= unit['baseCost']
      %costPerUnit= unit['costPer']
      %thumbnail= unit['thumbnail']
      - bonuses.select{|o| o['owner'] == unit['name']}.each do |bonus|
        %bonus{ :minCount => bonus['min'], :maxCount => bonus['max'] }
          %uid= "#{cfg['ruleset']}-#{cfg['name']}-#{unit['name']}-#{bonus['name']}".gsub(/ /, '-')
          %name= bonus['name']
          %description= bonus['description']
          %baseCost= bonus['baseCost']
          %costPerUnit= bonus['costPer']
          - if cfg['attrs'].split(' ').map{|a| bonus[a]}.reject{|o| o.nil?}.length > 0
            %extraFields
              %display= bonus['name']
              - cfg['attrs'].split(' ').each do |attr|
                - next unless bonus[attr]
                %field
                  %name= attr
                  %value= bonus[attr]
          - if bonuses.select{|o| o['owner'] == "#{unit['name']}/#{bonus['name']}"}.length > 0
            %bonuses{ :minCount => 1, :maxCount => bonus['max'], :uid => "#{cfg['ruleset']}-#{cfg['name']}-#{unit['name']}-#{bonus['name']}-children".gsub(/ /, '-') }
              %uid= "#{cfg['ruleset']}-#{cfg['name']}-#{unit['name']}-#{bonus['name']}-children".gsub(/ /, '-')
              %name= ""
              - bonuses.select{|o| o['owner'] == "#{unit['name']}/#{bonus['name']}"}.each do |child|
                %bonus{ :minCount => child['min'], :maxCount => child['max'] }
                  %uid= "#{cfg['ruleset']}-#{cfg['name']}-#{unit['name']}-#{bonus['name']}-#{child['name']}".gsub(/ /, '-')
                  %name= child['name']
                  %description= child['description']
                  %baseCost= child['baseCost']
                  %costPerUnit= child['costPer']
                  - if cfg['attrs'].split(' ').map{|a| child[a]}.reject{|o| o.nil?}.length > 0
                    %extraFields
                    %display= child['name']
                    - cfg['attrs'].split(' ').each do |attr|
                      - next unless child[attr]
                      %field
                        %name= attr
                        %value= child[attr]

